/* YeyeYeee código aquí */
body{
	margin: 0;
	padding: 0;
	background-color: #3e3f40;
	font-family: 'Josefin Sans', sans-serif;
}

.logo{
	width: 30%;
	margin-top: 30%;
}

.text-trans{
	color: #f6a800;
}

.contenedor-input{
	background-color: white;
}

input[type=text]:not(.browser-default) {
    margin-top: 0%;
}

.olvidaste-contraseña{
	font-size: 20px;
}

.cuenta{
	font-size: 20px;
    padding-top: 57px;
    margin: 0;
}

.input-field .prefix ~ input{
	font-size: 15px;
}

.input-field.col label {
	font-size: 20px;
}





/*Index 2-opciones*/

.body{
	background-color: #dddee0;
}

.contenedor-nav{
	background-color: #3e3f40;
}

.btn-mio{
	width: 100%;
	margin-top: 3%;
	background-color: #f6a800;
	height: 55px;
    padding: 10px;
    font-size: 23px;
}

.primer-btn{
	margin-top: 60%;
}




/*Index 3-perfil*/

.contenedor-de-img-preguntas{
	background-color: #f6a800;
	height: 300px;
	color: whitesmoke;
}

.mi-img{
	width: 41%;
    margin-left: 28%;
    margin-top: 4%;
}

.contenedor-mail{
    background-color: whitesmoke;
    height: 50px;
    padding: 7px;
    font-size: 25px;
}
.parrafos{
	background-color: whitesmoke;
	height: 50px;
    padding: 16px;
    font-size: 25px;
}




/*Index 4-preguntas frecuentes*/

.texto-preguntas-frecuentes{
    padding-top: 10%;
    font-size: 52px;
}




/*Index 5-ver saldo*/
.select-wrapper input.select-dropdown {
    background-color: rgb(253, 241, 241);
}

.parrafo-saldo{
    background-color: #3e3f40;
    width: 50%;
    height: 38px;
    margin-left: 28%;
    margin-top: 18%;
    color: whitesmoke;
}
.saldo-tarjeta{   
    background-color: #f6a800;
    width: 50%;
    height: 174px;
    margin-left: 28%;
    margin-top: -3%;
}

/*iNDEX 6-calcular*/

.btn-calcular{
	width: 50%;
	margin-top: 3%;
	background-color: #f6a800;
	height: 55px;
	padding: 10px;
    font-size: 23px;
}

input[type=text]:not(.browser-default){
	margin-top: 8%;
}

.side-nav li>a>i.material-icons{
	color: #f6a800;
}

.side-nav li>a {
    font-size: 19px;
    padding: 32px;
}

a{
	cursor: pointer;
}

.parrafo-calcular{
	background-color: #3e3f40;
    width: 50%;
    height: 38px;
    margin-left: 28%;
    margin-top: 10%;
    color: whitesmoke;
}

.calculo-saldo{
	background-color: #f6a800;
    width: 50%;
    height: 174px;
    margin-left: 28%;
    margin-top: -3%;
}

input[type=number]:not(.browser-default){
	font-size: 20px;
	color: #03A9F4;
}