/* YeyeYeee código aquí */
body{
	margin: 0;
	padding: 0;
	background-color: #3e3f40;
}

.logo{
	width: 30%;
	margin-top: 30%;
}

.text-trans{
	color: #f6a800;
}

.btn-large{
	background-color: #f6a800;
}

/*Index 2-opciones*/

.body{
	background-color: #dddee0;
}
.contenedor-nav{
	background-color: #3e3f40;
}
.btn-mio{
	width: 100%;
	margin-top: 3%;
	background-color: #f6a800;
	height: 55px;
    padding: 10px;
    font-size: 23px;
}

.primer-btn{
	margin-top: 60%;
}

/*Index 3-perfil*/

.contenedor-img{
	background-color: #f6a800;
	height: 300px;
}

.mi-img{
	width: 41%;
    margin-left: 28%;
    margin-top: 4%;
}

.contenedor-mail{
	background-color: whitesmoke;
	height: 50px;
    padding: 16px;
}